html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.editor {
  flex-grow: 1;
}

.toolbar {
  display: flex;
  background-color: rgb(24, 24, 24);
  color: rgb(204, 204, 204);
  padding-left: 16px;
  height: 35px;
}

.toolbar-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.toolbar-item:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.toolbar-item-label {
  line-height: 22px;
  align-items: center;
}

.status-bar {
  gap: 0px;
}

.status-bar-item {
  padding-left: 8px;
  padding-right: 8px;
}